@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.section {
    display: flex;
    margin: 0;
    background-image: url('/img/file_20191007175043.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
.container {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    min-height: 100vh;
    min-width: 100vh;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.nav {
    float: left;
    width: 20%;
    height: 100%;
    margin: 2%;
}

article {
    width: 80%;
    float: left;
}

.mapa {
    max-height: 90vh;
    max-width: 20vw;
}

.mapa path {
    fill: red;
    stroke: black;
}

.mapa path:hover {
    fill: lime;
    stroke: black;
}

.grafico1 {
    width: 50vw;
    height: fit-content;
    visibility: visible;
    opacity: 1;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-mapa {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-container {
    background-color: grey;
    margin: 0;
    padding: 50px;
    text-align: center;
    display: block;
}

.box{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 20px;
    width: 20vw;
    height: 65vh;
}

.btm{
    background-color:grey;
    color: whitesmoke;
    border-radius: 10px; 
    text-align: center;
    padding: 2%;
}
a {
    text-decoration: none;
}