html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

h1 {
    font-family:Arial;
    font-size: 4rem;
}

h2 {
    font-family:Arial;
    font-size: 2rem;
}

p {
    font-family: Georgia;
    font-size: 1.5rem;
}

nav {
    background-color: white;
    float: left;
    width: 20%;
    height: 100%;
    margin: 2%;
}

article {
    width: 80%;
    float: left;
}

.mapa {
    max-height: 90vh;
    max-width: 20vw;
}

.mapa path {
    fill: red;
    stroke: black;
}

.mapa path:hover {
    fill: lime;
    stroke: black;
}

.grafico1 {
    background-color: transparent;
    width: 50vw;
    height: fit-content;
    visibility: visible;
    opacity: 1;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-mapa {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
